@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.background{
    -fx-background-color:  #84A7A1;
}

.graphArea{
    -fx-background-color: #87aaa7;
}

.topBar {
    -fx-background-color: #1F6E8C;
}

.Button {
    -fx-background-color: #D9D9D9;
}

.Button:hover {
    -fx-background-color: #D21312;
    -fx-text-fill: #D9D9D9;
}

.Title {
    -fx-text-fill: black;
    -fx-font-family: Pacifico;
    -fx-font-size: 22px;
    -fx-font-weight: 400;
    -fx-wrap-text: break-word;
}

#Vertex{
    -fx-fill: #ff0000;
}

#Vertex:hover{
    -fx-fill: #AAFF00FF;
}